<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<body onresize="changeDisplay()" class="centered-wrapper">
  <div class="centered-content">

    {{#if errors}}
    <ul class="alert alert-danger">
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}

    <img src="images/logo.png" alt="logo" vspace="50">
    <form action="/login"  method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>

        <button class="btn btn-primary" type="submit" >Login</button>
    </form >
    <br>
    <form action="/register" method="get">
      <button class="btn btn-primary" type="submit" >Register</button>
    </form>
  </div>
</body>
